# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# VSCode
.vscode/

# Alembic
alembic/versions/*.pyc

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Env files
.env
